@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/futura_pt_medium.eot');
    src: url('../fonts/futura_pt_medium.eot') format('embedded-opentype'),
         url('../fonts/futura_pt_medium.woff2') format('woff2'),
         url('../fonts/futura_pt_medium.woff') format('woff'),
         url('../fonts/futura_pt_medium.ttf') format('truetype'),
         url('../fonts/futura_pt_medium.svg#futura_pt_medium') format('svg');
    font-weight: 450;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/futura_pt_demi.eot');
    src: url('../fonts/futura_pt_demi.eot') format('embedded-opentype'),
         url('../fonts/futura_pt_demi.woff2') format('woff2'),
         url('../fonts/futura_pt_demi.woff') format('woff'),
         url('../fonts/futura_pt_demi.ttf') format('truetype'),
         url('../fonts/futura_pt_demi.svg#futura_pt_demi') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// base styles

$white: #FFFFFF;
$balck: #1D1D1B;
$blue: #1655A3;
$light-blue: #297BE1;
$orange: #E85412;

body {
    font-family: 'Futura PT', sans-serif;
    font-size: 22px;
    line-height: 150%;
    font-weight: 450;
    font-display: swap;
    margin: 0;
    padding: 0;
    background-color: $white;
    color: $balck;
}

h1, h2, h3, h4, h5, h6 , p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

* {
    box-sizing: border-box;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    height: inherit;
}

// header

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    &__inner {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    &__logo {
        margin-right: 36px;
    }
    &__side-btns {
        margin-left: auto;
    }
    &__search {
        width: 0%;
        opacity: 0;
        visibility: hidden;
        max-width: 1033px;
        transition: .3s linear;
        &.active {
            width: 77%;
            opacity: 1;
            visibility: visible;
        }
    }
    &__mobile {
        display: none;
    }
    &_blue {
        background: $blue;
    }
}

.search-form__input:focus ~ .search-form__label,
.search-form__input:not(:placeholder-shown) ~ .search-form__label {
    opacity: 0;
}

.form-group {
    position: relative;
    width: 100%;
}

.form-input {
    width: 100%;
    padding: 11px 90px 11px 20px;
    border: none;
    outline: none;
    font-family: 'Futura PT', sans-serif;
    font-size: 22px;
    line-height: 32px;
}

.form-label {
    position: absolute;
    top: 11px;
    left: 20px;
    color: rgba(29, 29, 27, 0.6);
    transition: .3s linear;
}

.search-form {
    &__submit {
        position: absolute;
        top: 18px;
        right: 60px;
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        cursor: pointer;
        svg {
            display: block;
            transition: .3s linear;
        }
        &:hover {
            svg {
                transform: scale(1.1);
            }
        }
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 25px;
        width: 14px;
        height: 14px;
        cursor: pointer;
        svg {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: .3s linear;
        }
        &:hover {
            svg {
                transform: scale(1.1);
            }
        }
    }
}


.nav {
    width: 100%;
    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        list-style: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
    }
    &__list-item {
        position: relative;
        padding: 0 24.4px;
        text-align: center;
        line-height: 100%;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
            &::before {
                display: none;
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 1px;
            height: 20px;
            background: $white;
        }
    }
    &__list-link {
        text-decoration: none;
        font-size: 20px;
        line-height: 20px;
        color: $white;
        border-bottom: 1px solid transparent;
        transition: .2s linear;
        &:hover {
            border-color: $white;
        }
    }
}

.side-btns {
    display: flex;
    align-items: center;
    &__item {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        text-decoration: none;
        font-size: 16px;
        line-height: 20px;
        color: $white;
    }
}

.search-btn {
    transition: .3s linear;
    &__link {
        display: block;
        width: 19px;
        height: 19px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &.active {
        opacity: 0;
    }
}

.page-lang {
    &__link {
        border-bottom: 1px solid transparent;
        transition: .2s linear;
        &:hover {
            border-color: $white;
        }
    }
}

.burger-btn {
    display: none;
}

// intro

.intro {
    position: relative;
    height: 900px;
    overflow: hidden;
    &__bg {
        video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
            -ms-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -2;
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(10, 47, 92, 0.8);
        z-index: -1;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: inherit;
        padding: 354px 0 65px;
    }
    &__title {
        width: 100%;
        max-width: 791px;
    }
    &__bottom {
        margin-top: auto;
        align-self: flex-start;
    }
}

.page-title {
    font-size: 64px;
    line-height: 100%;
    color: $white;
}

.arrow-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $white;
    border-bottom: 1px solid $white;
    &__text {
        font-size: 18px;
        line-height: 120%;
    }
    &__icon {
        width: 15px;
        height: 15px;
        margin-left: 14px;
        svg {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: .2s linear;
        }
        path {
            transition: .2s linear;
        }
    }
    &_blue {
        color: $blue;
        border-color: $blue;
        path {
            fill: $blue;
        }
    }
    &_bg {
        position: relative;
        padding: 14px 20px 16px 24px;
        overflow: hidden;
        border-color: transparent;
        &:hover {
            .arrow-link__bg {
                opacity: 1;
            }
            .arrow-link__text {
                color: $white;
            }
            path {
                fill: $white;
            }
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        opacity: 0;
        transition: .3s linear;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &:hover {
        svg {
            transform: rotate(45deg) translate(-3px, 3px);
        }
    }
}

// about

.about {
    padding: 48px 0 55px;
    &__title {
        margin-bottom: 28px;
    }
}

.section-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 42px;
    line-height: 120%;
    &__link {
        margin-left: auto;
    }
}

// infographics

.infographics {
    padding: 85px 0 118px;
    overflow: hidden;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 315px;
        height: 315px;
        padding: 8px;
        color: $blue;
        font-size: 18px;
        line-height: 120%;
        border: 6px solid rgba(44, 124, 224, 0.7);
        border-radius: 50%;
        &_animated {
            padding: 31px;
            border: none;
            &::before {
                content: "";
                position: absolute;
                top: 13px;
                left: 13px;
                width: 290px;
                height: 290px;
                z-index: -1;
                background: url(../img/blue-circle.png) no-repeat center;
                background-size: contain;
                animation: rotation-left 10s linear infinite;
            }
            &::after {
                content: "";
                position: absolute;
                top: -15px;
                left: -15px;
                width: 345px;
                height: 345px;
                z-index: -1;
                background: url(../img/orange-circle.png) no-repeat center;
                background-size: contain;
                animation: rotation-right 10s linear infinite;
            }
        }  
        &:last-child {
            .infographics__wrapper {
                padding: 30px;
            }
        }
    }
    &__pic {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -2;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__suptitle {
        margin-bottom: 4px;
    }
    &__title {
        font-weight: 600;
        font-size: 46px;
        line-height: 100%;
        color: $orange;
        margin-bottom: 4px;
    }
    &__text {
        text-transform: lowercase;
        text-align: center;
    }
}

.infographics__item_animated-phase {
    &::before {
        animation: rotation-left-second 10s linear infinite;
    }
    &::after {
        animation: rotation-right-second 10s linear infinite;
    }
}

.infographics__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(22, 85, 163, 0.05);
}

@keyframes rotation-right {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotation-left {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes rotation-right-second {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes rotation-left-second {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(-180deg);
    }
}


// gradient slider

.gradient-swiper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    &__controls {
        position: absolute;
        top: 97px;
        right: 45px;
        display: flex;
        align-items: center;
        z-index: 3;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: $blue;
        margin-right: 8px;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
        svg {
            display: block;
            width: 17px;
        }
    }
}

.gradient-slide {
    position: relative;
    padding: 48px 45px 115px;
    overflow: hidden;
    &__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 105%;
        transform: translate(-50%, -50%);
        z-index: -2;
        img {
            display: block;
            width: 100%;
            height: auto;
            -webkit-filter: grayscale(100%); 
            filter: grayscale(100%);
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: linear-gradient(360deg, #FFFFFF 32.82%, 
        rgba(255, 255, 255, 0.308606) 79.27%, rgba(255, 255, 255, 0) 100%);
    }
    &__date {
        font-size: 24px;
        line-height: 120%;
        color: $blue;
    }
    &__title {
        margin-bottom: 32px;
    }
}

// production

.production {
    position: relative;
    background: $light-blue;
    color: $white;
    transition: .3s linear;
    &__inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__fixed {
        position: sticky;
        top: 0;
        display: flex;
        align-self: flex-start;
        margin-left: auto;
        margin-right: auto;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
        max-width: 494px;
    }
    &__title {
        margin-bottom: 24px;
    }
    &__text {
        margin-bottom: 32px;
        p {
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__swiper {
        width: 50%;
        align-self: flex-end;
        height: inherit;
    }
}

.production-swiper {
    width: 100%;
    height: 100%;
    &__slide {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        padding: 72px 26px 172px 80px;
        z-index: 1;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(90deg, rgba(22, 85, 163, 0.74) 18.23%, rgba(22, 85, 163, 0) 100%);
    }
    &__logo {
        width: 195px;
        margin-bottom: 16px;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    &__text {
        margin-top: auto;
    }
    &__list {
        margin: 36px 0 auto;
    }
    &__pagination {
        top: auto !important;
        right: auto !important;
        left: 80px !important;
        bottom: 47px !important;
        transform: translate3d(0, 0, 0) !important;
        .swiper-pagination-bullet {
            background: $white;
            margin-left: 0 !important;
            margin-bottom: 12px !important;
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }
    &__btns {
        position: absolute;
        right: 45px;
        bottom: 47px;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: $blue;
        margin-bottom: 8px;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
        svg {
            display: block;
            width: 18px;
            height: auto;
        }
    }
}

.advantages-list {
    display: flex;
    flex-direction: column;
    &__item {
        position: relative;
        padding-left: 15px;
        margin-bottom: 34px;
        font-size: 28px;
        line-height: 120%;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 3px;
            height: 44px;
            background: $white;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

// news

.news {
    padding: 48px 0 57px;
    &__title {
        margin-bottom: 32px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__col {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 49%;
        max-width: 660px;
    }
}

.news-card {
    position: relative;
    width: 100%;
    height: 315px;
    padding: 24px;
    background: $blue;
    border-radius: 10px;
    margin-bottom: 30px;
    color: $white;
    overflow: hidden;
    z-index: 1;
    &:last-child {
        margin-bottom: 0;
    }
    &:hover {
        .news-card__title {
            text-decoration: underline;
        }
    }
    &__link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: $white;
        height: 100%;
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #1655A3 2.94%, rgba(22, 85, 163, 0) 48.71%), 
        radial-gradient(30.45% 29.91% at 0% 0%, rgba(22, 85, 163, 0.4) 0%, rgba(22, 85, 163, 0) 100%);
        z-index: -1;
    }
    &__pic {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__date {
        margin-bottom: auto;
        font-size: 22px;
        line-height: 120%;
    }
    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 120%;
    }
    &__text {
        margin-top: 15px;
    }
    &_with-pic {
        height: 478px;
    }
    &_half-width {
        width: 48%;
        max-width: 315px;
    }
}

// partners

.partners {
    padding: 48px 0 50px;
    &__title {
        margin-bottom: 28px;
    }
    &__text {
        margin-bottom: 40px;
    }
    &__links {
        display: flex;
        align-items: center;
    }
    &__links-item {
        position: relative;
        margin-right: 33px;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -16px;
            transform: translateY(-50%);
            width: 1px;
            height: 43px;
            background: rgba(29, 29, 27, 0.5);
        }
        &:last-child {
            margin-right: 0;
            &::after {
                display: none;
            }
        }
    }
}

// news slider

.news-swiper {
    padding: 48px 0 65px;
    &__slide {
        display: flex;
        justify-content: space-between;
    }
    &__card {
        width: 49%;
        max-width: 660px;
    }
    &__title {
        margin-bottom: 32px;
    }
    &__pic {
        width: 100%;
        margin-bottom: 16px;
        overflow: hidden;
        border-radius: 10px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__slide-title {
        font-weight: 600;
        font-size: 28px;
        line-height: 120%;
    }
    &__tags {
        margin-bottom: 8px;
    }
    &__pagination {
        position: static !important;
        width: auto !important;
        margin: 0 15px;
    }
    &__wrapper {
        padding-bottom: 44px;
    }
    &__controls {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.swiper-tags {
    display: flex;
    align-items: center;
    &__item {
        position: relative;
        font-size: 22px;
        line-height: 120%;
        color: $blue;
        margin-right: 38px;
        &::before {
            content: "•";
            position: absolute;
            top: 0;
            right: -30px;
            width: 22px;
            height: 26px;
            text-align: center;
        }
        &:last-child {
            margin-right: 0;
            &::before {
                display: none;
            }
        }
    }
    &__link {
        text-decoration: none;
        color: $blue;
        transition: .2s linear;
        border-bottom: 1px solid transparent;
        &:hover {
            border-color: $blue;
        }
    }
}

.swiper-pagination-bullet {
    margin: 0 10px !important;
    opacity: 0.5 !important;
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    opacity: 1 !important;
    background: $balck;
}



.news-swiper-btn {
    width: 21px;
    height: 21px;
    margin-top: 5px;
    cursor: pointer;
    svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.swiper-button-disabled {
    opacity: 0.6;
}

// footer

.footer {
    background: $blue;
    color: $white;
    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 42px 0 32px;
        border-bottom: 1px solid $white;
    }
    &__nav-item {
        margin-bottom: 18px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__nav-link {
        text-decoration: none;
        color: $white;
        font-size: 24px;
        line-height: 120%;
        border-bottom: 1px solid transparent;
        transition: .3s linear;
        &:hover {
            border-color: $white;
        }
    }
    &__contacts-title {
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 18px;
    }
    &__contacts-item {
        margin-bottom: 18px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__contacts-icon {
        display: flex;
        justify-content: center;
        width: 20px;
        margin-right: 15px;
        margin-top: 5px;
        img {
            display: block;
        }
    }
    &__contacts-text {
        display: flex;
        flex-direction: column;
        max-width: 279px;
    }
    &__contacts-link {
        text-decoration: none;
        font-size: 20px;
        line-height: 120%;
        color: $white;
        border-bottom: 1px solid transparent;
        transition: .2s linear;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            border-color: $white;
        }
    }
    &__contacts-item {
        display: flex;
        align-items: flex-start;
    }
    &__btn-link {
        font-size: 18px;
        line-height: 120%;
        padding: 13px 119px 15px;
        text-decoration: none;
        color: $blue;
        background: $white;
        border-radius: 4px;
    }
    &__bottom {
       display: flex;
       align-items: center;
       padding: 20px 0; 
       font-size: 18px;
       line-height: 120%;
    }
    &__copyright {
        margin-right: 40px;
    }
    &__privacy-link {
        text-decoration: none;
        color: $white;
        border-bottom: 1px solid transparent;
        transition: .2s linear;
        &:hover {
            border-color: $white;
        }
    }
    &__logo {
        width: 162px;
        height: 30px;
        margin-left: auto;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

// PAGE CONTACTS

.contacts {
    background: rgba(22, 85, 163, 0.1);
    padding: 206px 0 48px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        width: 32%;
        max-width: 420px;
    }
    &__map {
        width: 63%;
        max-width: 850px;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    &__title {
        color: $blue;
        margin-bottom: 35px;
    }
}

.contacts-list {
    display: flex;
    flex-direction: column;
    &__item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__item_margin {
        margin-bottom: 32px;
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 12px;
    }
    &__title_blue {
        color: $blue;
    }
    &__text {
        font-size: 20px;
        line-height: 120%;
    }
    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__link {
        text-decoration: none;
        color: $balck;
        border-bottom: 1px solid transparent;
        margin-bottom: 10px;
        transition: .2s linear;
        &:hover {
            border-color: $balck;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.positions {
    padding: 98px 0 100px;
}

.positions-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item {
        display: flex;
        flex-direction: column;
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #E4EEF7;
        width: 240px;
        height: 92px;
        color: $blue;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 12px;
    }
    &__description {
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 18px;
    }
    &__link {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 120%;
        text-decoration: none;
        color: $balck;
        margin-top: auto;
        &:hover {
            .positions-list__link-text {
                border-color: $balck;
            }
        }
    }
    &__link-icon {
        width: 20px;
        height: 16px;
        margin-right: 14px;
        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
        }
    }
    &__link-text {
        border-bottom: 1px solid transparent;
        transition: .2s linear;
    }
}

// ABOUT PAGE

.intro {
    &_about {
        height: 622px;
    }
    &__inner_about {
        padding: 220px 0 80px;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        color: $white;
    }
    &__text {
        font-size: 32px;
        line-height: 132%;
        max-width: 660px;
        &-item {
            margin-bottom: 28px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// gallery 

.gallery {
    padding: 80px 0;
    &__text {
        margin-bottom: 50px;
        p {
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.gallery-pics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &__item {
        width: 24%;
        max-width: 315px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

// blue bg

.blue-bg {
    padding: 80px 0;
    color: $white;
    background: $blue;
    &__text {
        p {
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// team 

.team {
    padding: 80px 0 116px;
    &__title {
        margin-bottom: 28px;
    }
}

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__nav {
        display: flex;
        flex-direction: column;
    }
    &__link {
        position: relative;
        text-decoration: none;
        color: $balck;
        opacity: 0.48;
        padding-left: 28px;
        transition: .3s linear;
        &:hover {
            opacity: 0.7;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 7px;
            transform: translateY(-50%);
            display: block;
            width: 9px;
            height: 11px;
            background: url(../img/tabs-nav.svg) no-repeat center;
            background-size: contain;
            opacity: 0;
            transition: .3s linear;
        }
        &.active {
            opacity: 1;
            &::before {
                opacity: 1;
            }
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 75%;
        max-width: 1005px;
    }
    &__content-top {
        margin-bottom: 68px;
    }
    &__pane {
        width: 100%;
        display: none;
        opacity: 0;
        transform: translateY(300px);
        transition: .5s linear;
    }
    &__pane.fade {
        display: block;
    }
    &__pane.show {
        transform: translateY(0);
        opacity: 1;
    }
}

.tabs-top {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 40px 58px;
    border-radius: 12px;
    background: #ECF1F9;
    &__pic {
        margin-right: 40px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__name {
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        margin-bottom: 12px;
    }
    &__position {
        font-size: 18px;
        line-height: 120%;
    }
    &__link {
        .arrow-link__text {
            font-size: 22px;
        }
    }
}

.team-pic {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: #D4DFED;
    border-radius: 50%;
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.team-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 32%;
        max-width: 315px;
        margin-bottom: 68px;
    }
    &__pic {
        margin-bottom: 24px;
    }
    &__name {
        font-weight: 600;
        line-height: 120%;
        text-align: center;
        max-width: 275px;
        margin-bottom: 12px;
    }
    &__position {
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        opacity: 0.6;
        max-width: 275px;
    }
    &_row {
        flex-direction: column;
    }
    &__item_row {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        max-width: none;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__name_row {
        max-width: none;
        margin-bottom: 0;
        text-align: left;
    }
    &__position_row {
        text-align: right;
        max-width: none;
        margin-bottom: 0;
        max-width: 500px;
    }
}

// PAGE MANUFACTURE

.interactive-map {
    overflow: hidden;
    padding: 58px 0 49px;
    &__inner {
        position: relative;
    }
    &__title {
        margin-bottom: 23px;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 32px;
        line-height: 150%;
        color: $blue;
        margin-bottom: 30px;
        max-width: 971px;
    }
    &__list {
        margin-bottom: 52px;
    }
    &__list-item {
        max-width: 750px;
        &:first-child {
            max-width: 790px;
        }
    }
    &__bottom {
        padding-left: 25px;
    }
    &__pic {
        position: absolute;
        top: 30px;
        right: 0;
        width: 50%;
        max-width: 568px;
    }
    &__wrapper {
        position: relative;
        width: 100%;
        .map-image {
            position: absolute;
            top: -800px;
            left: 5px;
            width: auto;
            height: auto;
            display: block;
        }
    }
}

.map-group {
    position: absolute;
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

#map-group-1 {
    top: 310px;
    left: 190px;
}

#map-group-2 {
    top: 350px;
    left: 145px;
}

#map-group-3 {
    top: 390px;
    left: 195px;
}

#map-group-4 {
    top: 460px;
    left: 415px;
}

#map-group-5 {
    top: 665px;
    left: 150px;
}

.map-point {
    display: flex;
    align-items: center;
    &__icon {
        position: relative;
        width: 33.19px;
        height: 33.19px;
        border-radius: 50%;
        background: $white;
        border: 1px solid $blue;
        margin-right: 10px;
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 12.45px;
            height: 12.45px;
            background: $blue;
            border-radius: 50%;
        }
        &:hover {
            background: $blue;
            &::before {
                background: $white;
            }
        }
        &:hover ~ .map-point__city {
            opacity: 1;
            visibility: visible;
        }
    }
    &__city {
        font-weight: 600;
        line-height: 120%;
        opacity: 0;
        visibility: hidden;
        transition: .2s linear;
    }
}

.map-balloon {
    position: absolute;
    top: -340px;
    left: -200px;
    width: 434px;
    display: flex;
    justify-content: space-between;
    min-height: 325px;
    padding: 29px 32px 44px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.05);
    background: $white;
    color: $balck;
    max-width: 434px;
    margin-bottom: 20px;
    display: none;
    opacity: 0;
    transition: .3s linear;
    &__logo {
        max-width: 180px;
        margin-bottom: 14px;
        img {
            width: auto;
            height: auto;
            display: block;
        }
    }
    &__location {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 4px;
    }
    &__text {
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 30px;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        width: 26px;
        height: 12px;
        background: url(../img/balloon-before.png) no-repeat center;
        background-size: contain;
    }
    .advantages-list__item_balloon {
        color: $balck;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 17px;
        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            height: 17px;
            background: $balck;
        }
    }
}

.map-point:hover ~ .map-balloon {
    opacity: 1;
    display: block;
}

.square-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__item {
        position: relative;
        padding-left: 25px;
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            content: '';
            position: absolute;
            top: 11px;
            left: 0;
            display: block;
            width: 10px;
            height: 10px;
            background: $blue;
        }
    }
}

// control

.control {
    padding: 82px 0 50px;
    &__title {
        margin-bottom: 30px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 37px;
    }
    &__text {
        width: 66%;
        max-width: 882px;
        p {
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__pics {
        width: 32%;
        max-width: 434px;
        min-width: 432px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__pic {
        width: 201px;
        height: 201px;
        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
        }
    }
}

.docs {
    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        margin-bottom: 24px;
    }
}

.docs-list {
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            top: 6px;
        }
    }
    &__text {
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        width: 63%;
        max-width: 834px;
    }
}

.docs-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 35%;
    &__item {
        margin-right: 39px;
        &:first-child {
            min-width: 145px;
        }
        &:nth-child(2) {
            min-width: 123px;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 3px;
    }
    &__value {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: $blue;
    }
}

.docs-btn {
    &__link {
        text-decoration: none;
        color: $blue;
        padding: 16px 26px 15px 27px;
        font-weight: 600;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.03em;
        text-transform: uppercase;  
        background: #E4F0FF;
        transition: .3s linear;
        &:hover {
            color: $white;
            background: $blue;
        }
    }
}

// RESPONSIVE

@media (max-width: 1440px) {
    .container {
        max-width: 1384px;
        padding: 0 17px;
    }
    .gradient-swiper {
        .container {
            padding: 0;
        }
    }
}

@media (max-width: 1300px) {
    body {
        font-size: 20px;
    }
    .nav {
        &__list-item {
            padding: 0 15px;
        }
        &__list-link {
            font-size: 17px;
        }
    }
    .infographics {
        &__list {
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__item {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .news-card {
        &__date {
            font-size: 20px;
        }
        &__title {
            font-size: 24px;
        }
    }
    .news-swiper {
        &__slide-title {
            font-size: 24px;
        }
    }
    .swiper-tags {
        &__item {
            font-size: 20px;
        }
    }
    .positions {
        padding-bottom: 80px;
    }
    .positions-list {
        &__item {
            width: 45%;
            margin-bottom: 30px;
        }
        &__title {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .footer {
        &__btn-link {
            display: block;
            text-align: center;
            padding: 13px 10px 15px;
        }
        &__col {
            width: 24%;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        &__search {
            &.active {
                width: 70%;
            }
        }
    }
    .logo {
        max-width: 135px;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .nav {
        &__list-item {
            padding: 0 10px;
        }
    }
    .intro {
        height: 862px;
        &_about {
            height: 622px;
        }
        &__inner {
            padding-top: 262px;
        }
        &__inner_about {
            padding-top: 220px;
        }
    }
    .production {
        &__swiper {
            width: 50%;
        }
    }
    .production-swiper {
        &__slide {
            padding: 72px 26px 172px 40px;
        }
        &__pagination {
            left: 40px !important;
        }
        &__btns {
            right: 26px;
        }
    }
}

@media (max-width: 1023px) {
    .production {
        padding: 32px 0 0;
        height: auto;
        &__inner {
            flex-direction: column;
        }
        &__fixed {
            position: static;
        }
        &__content {
            max-width: none;
            width: 100%;
            height: auto;
            margin-bottom: 32px;
        }
        &__swiper {
            top: auto;
            bottom: 0;
            width: 100%;
            height: auto;
        }
    }
    .news{
        &__content {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__col {
            width: 100%;
            max-width: none;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .news-card {
        &_half-width {
            width: 100%;
            max-width: none;
        }
    }
    .contacts {
        &__inner {
            flex-direction: column;
        }
        &__content {
            width: 100%;
            max-width: none;
            margin-bottom: 40px;
        }
        &__map {
            width: 100%;
            max-width: none;
        }
    }
    .gallery {
        padding-bottom: 62px;
    }
    .gallery-pics {
        &__item {
            width: 48%;
            max-width: 485px;
            margin-bottom: 18px;
        }  
    }
    .tabs {
        flex-direction: column;
        &__aside {
            margin-bottom: 40px;
        }
        &__content {
            width: 100%;
        }
    }
    .team-list {
        &__position_row {
            max-width: 300px;
        }
    }
}

@media (max-width: 940px) {
    .page-title {
        font-size: 48px;
    }
    .section-title {
        font-size: 36px;
    }
    .header {
        &__inner {
            padding: 13px 0;
        }
        &__top {
            margin-bottom: 0;
        }
        &__bottom {
            display: none;
        }
        &__search{
            &.active {
                width: 55%;
            }  
        } 
        &__mobile {
            position: fixed;
            top: 0;
            left: 0;
            display: block;
        }
    }
    .header__search {
        position: absolute;
        top: 95px;
        left: 17px;
        &.active {
            width: calc(100% - 34px);
        }
    }
    .mobile-menu {
        width: 100%;
        height: 100vh;
        background: $white;
        color: $blue;
        padding: 30px 17px;
        transition: .3s linear;
        transform: translate(100%);
        &.active {
            transform: translate(0);
        }
        &__wrapper {
            position: relative;
        }
        &__close {
            position: absolute;
            top: 0;
            right: 17px;
        }
        .nav__list {
            flex-direction: column;
            align-items: flex-start;
        }
        .nav__list-item {
            padding: 0;
            margin-bottom: 16px;
        }
        .nav__list-link {
            font-size: 20px;
            color: $blue;
        }
    }
    .burger-btn {
        display: block;
        width: 40px;
        height: 40px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .intro {
        &__inner_about {
            padding-top: 168px;
        }
    }
    .gradient-swiper {
        &__controls {
            top: auto;
            right: auto;
            left: 17px;
            bottom: 36px;
        }
        &__btn {
            background: transparent;
            path {
                fill: $balck;
            }
        }
    }
    .gradient-slide {
        padding: 36px 17px 88px;
        &__bg {
            width: 100%;
            height: 100%;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .production {
        &__content {
            padding: 0;
        }
    }
    .production-swiper {
        &__slide {
            padding: 72px 17px 172px 17px;
        }
    }
    .advantages-list {
        &__item {
            font-size: 24px;
        }
    }
    .news-card {
        height: 243px;
        &_with-pic {
            height: 341px;
        }
    }
    .contacts {
        padding: 126px 0 0;
    }
    .footer {
        &__top {
            flex-wrap: wrap;
        }
        &__col {
            width: 45%;
            margin-bottom: 30px;
        }
    } 
    .gallery {
        padding: 60px 0 42px;
    }
    .blue-bg {
        padding: 60px 0;
    }
    .team {
        padding: 60px 0 20px;
    }
    .team-list {
        &__item {
            margin-bottom: 40px;
        } 
    }
}

@media (max-width: 768px) {
    section {
        position: relative;
    }
    .section-title {
        &__link {
            position: absolute;
            bottom: 15px;
            left: 17px;
            font-weight: 450;
        }
        &__text {
            font-size: 20px;
            line-height: 120%;
        } 
    }
    .arrow-link {
        &_bg {
            padding-left: 0;
            
        }
    }
    .partners {
        padding: 46px 0 32px;
        &__title {
            .section-title__link {
                bottom: 198px;
            }
        }
        &__text {
            margin-bottom: 84px;
        }
        &__links {
            flex-direction: column;
            align-items: flex-start;
        }
        &__links-item {
            width: 100%;
            padding: 7px 0;
            border-top: 1px solid rgba(29, 29, 27, 0.2);
            &::after {
                display: none;
            } 
        }
    }
    .infographics {
        &__item {
            width: 286px;
            height: 286px;
        }
        &__item_animated {
            padding: 20px;
            &::before {
                top: 5px;
                left: 5px;
                width: 276px;
                height: 276px;
            }
            &::after {
                top: -15px;
                left: -15px;
                width: 316px;
                height: 316px;
            }
        }
    }
  
    .news {
        padding: 32px 0 88px;
    }
    .news-card {
        height: auto;
        &__date {
            margin-bottom: 26px;
        }
        &__title {
            font-weight: 450;
        }
        &__overlay {
            background: linear-gradient(0deg, #1655A3 2.94%, rgba(22, 85, 163, 0) 100%), 
            radial-gradient(30.45% 29.91% at 0% 0%, rgba(22, 85, 163, 0.4) 0%, rgba(22, 85, 163, 0) 100%);
        }
    }
    .news-swiper {
        &__slide {
            flex-wrap: wrap;
        }
        &__card {
            width: 100%;
            max-width: none;
            margin-right: 0;
            margin-bottom: 32px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .footer {
        &__col {
            width: 100%;
        }
        &__btn {
            max-width: 341px;
            margin: 0 auto;
        }
        &__contacts-title {
            display: none;
        }
        &__contacts-item_email {
            display: none;
        }
        &__bottom {
            flex-direction: column;
            align-items: flex-start;
        }
        &__copyright {
            margin-bottom: 24px;
        }
        &__privacy {
            margin-bottom: 40px;
        }
        &__logo {
            margin-left: 0;
        }
    }
}

@media (max-width: 767px) {
    .contacts {
        &__map {
            width: calc(100% + 34px);
            transform: translateX(-17px);
        }
    }
    .positions-list {
        &__item {
            width: 100%;
            align-items: center;
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(22, 85, 163, 0.4);
            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
        &__description {
            text-align: center;
        }
    }
    .tabs-top {
        flex-direction: column;
        padding: 40px;
        &__pic {
            margin-right: 0;
            margin-bottom: 40px;
        }
        &__content {
            align-items: center;
        }
        &__name {
            text-align: center;
        }
        &__position {
            text-align: center;
        }
    }
    .team-list {
        justify-content: space-around;
        &__item {
            width: 40%;
        }
        &__item_row {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .team-list {
        &__item {
            width: 100%;
        }
        &__item_row {
            flex-direction: column;
        }
        &__name_row {
            margin-bottom: 10px;
        }
        &__position_row {
            text-align: left;
            max-width: 100%;
        }
    }
    
}

