@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/futura_pt_demi.eot'); 
	src: url('../fonts/futura_pt_demi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/futura_pt_demi.woff2') format('woff2'), 
		url('../fonts/futura_pt_demi.woff') format('woff'), 
		url('../fonts/futura_pt_demi.ttf') format('truetype'),
		url('../fonts/futura_pt_demi.svg#futura_pt_demi') format('svg'); 
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/futura_pt_medium.eot'); 
	src: url('../fonts/futura_pt_medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/futura_pt_medium.woff2') format('woff2'), 
		url('../fonts/futura_pt_medium.woff') format('woff'), 
		url('../fonts/futura_pt_medium.ttf') format('truetype'), 
		url('../fonts/futura_pt_medium.svg#futura_pt_medium') format('svg');
    font-weight: 450;
    font-style: normal;
    font-display: swap;
}

// base styles

$white: #FFFFFF;
$balck: #1D1D1B;
$blue: #1655A3;
$light-blue: #297BE1;
$orange: #E85412;

body {
    font-family: 'Futura PT', sans-serif;
    font-size: 22px;
    line-height: 150%;
    font-weight: 450;
    font-display: swap;
    margin: 0;
    padding: 0;
    background-color: $white;
    color: $balck;
}

h1, h2, h3, h4, h5, h6 , p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

* {
    box-sizing: border-box;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    height: inherit;
}

// header

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    &__inner {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    &__logo {
        margin-right: 36px;
    }
    &__side-btns {
        margin-left: auto;
    }
    &__search {
        width: 0%;
        opacity: 0;
        visibility: hidden;
        max-width: 1033px;
        transition: .3s linear;
        &.active {
            width: 77%;
            opacity: 1;
            visibility: visible;
        }
    }
    &_blue {
        background: $blue;
    }
}

.search-form__input:focus ~ .search-form__label,
.search-form__input:not(:placeholder-shown) ~ .search-form__label {
    opacity: 0;
}

.form-group {
    position: relative;
    width: 100%;
}

.form-input {
    width: 100%;
    padding: 11px 90px 11px 20px;
    border: none;
    outline: none;
    font-family: 'Futura PT', sans-serif;
    font-size: 22px;
    line-height: 32px;
}

.form-label {
    position: absolute;
    top: 11px;
    left: 20px;
    color: rgba(29, 29, 27, 0.6);
    transition: .3s linear;
}

.search-form {
    &__submit {
        position: absolute;
        top: 18px;
        right: 60px;
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        cursor: pointer;
        svg {
            display: block;
            transition: .3s linear;
        }
        &:hover {
            svg {
                transform: scale(1.1);
            }
        }
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 25px;
        width: 14px;
        height: 14px;
        cursor: pointer;
        svg {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: .3s linear;
        }
        &:hover {
            svg {
                transform: scale(1.1);
            }
        }
    }
}


.nav {
    width: 100%;
    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        list-style: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
    }
    &__list-item {
        position: relative;
        padding: 0 24.4px;
        text-align: center;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
            &::before {
                display: none;
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 1px;
            height: 20px;
            background: $white;
        }
    }
    &__list-link {
        text-decoration: none;
        font-size: 20px;
        line-height: 20px;
        color: $white;
        border-bottom: 1px solid transparent;
        transition: .2s linear;
        &:hover {
            border-color: $white;
        }
    }
}

.side-btns {
    display: flex;
    align-items: center;
    &__item {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        text-decoration: none;
        font-size: 16px;
        line-height: 20px;
        color: $white;
    }
}

.search-btn {
    transition: .3s linear;
    &__link {
        display: block;
        width: 19px;
        height: 19px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &.active {
        opacity: 0;
    }
}

.page-lang {
    &__link {
        border-bottom: 1px solid transparent;
        transition: .2s linear;
        &:hover {
            border-color: $white;
        }
    }
}



// intro

.intro {
    position: relative;
    height: 900px;
    overflow: hidden;
    &__bg {
        video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
            -ms-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: inherit;
        padding: 354px 0 65px;
    }
    &__title {
        width: 100%;
        max-width: 791px;
    }
    &__bottom {
        margin-top: auto;
        align-self: flex-start;
    }
}

.page-title {
    font-size: 64px;
    line-height: 100%;
    color: $white;
}

.arrow-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $white;
    border-bottom: 1px solid $white;
    &__text {
        font-size: 18px;
        line-height: 120%;
    }
    &__icon {
        width: 15px;
        height: 15px;
        margin-left: 14px;
        svg {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: .2s linear;
        }
        path {
            transition: .2s linear;
        }
    }
    &_blue {
        color: $blue;
        border-color: $blue;
        path {
            fill: $blue;
        }
    }
    &_bg {
        position: relative;
        padding: 14px 20px 16px 24px;
        overflow: hidden;
        border-color: transparent;
        &:hover {
            .arrow-link__bg {
                opacity: 1;
            }
            .arrow-link__text {
                color: $white;
            }
            path {
                fill: $white;
            }
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        opacity: 0;
        transition: .3s linear;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &:hover {
        svg {
            transform: rotate(45deg) translate(-3px, 3px);
        }
    }
}

// about

.about {
    padding: 48px 0 55px;
    &__title {
        margin-bottom: 28px;
    }
}

.section-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 42px;
    line-height: 120%;
    &__link {
        margin-left: auto;
    }
}

// infographics

.infographics {
    padding: 85px 0 118px;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 315px;
        height: 315px;
        padding: 8px;
        color: $blue;
        font-size: 18px;
        line-height: 120%;
        border: 6px solid rgba(44, 124, 224, 0.7);
        border-radius: 50%;
        &_animated {
            padding: 31px;
            border: none;
            &::before {
                content: "";
                position: absolute;
                top: 13px;
                left: 13px;
                width: 290px;
                height: 290px;
                z-index: -1;
                background: url(../img/blue-circle.png) no-repeat center;
                background-size: contain;
                animation: rotation-left 10s linear infinite;
            }
            &::after {
                content: "";
                position: absolute;
                top: -15px;
                left: -15px;
                width: 345px;
                height: 345px;
                z-index: -1;
                background: url(../img/orange-circle.png) no-repeat center;
                background-size: contain;
                animation: rotation-right 10s linear infinite;
            }
        }  
        &:last-child {
            .infographics__wrapper {
                padding: 30px;
            }
        }
    }
    &__pic {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -2;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__suptitle {
        margin-bottom: 4px;
    }
    &__title {
        font-weight: 600;
        font-size: 46px;
        line-height: 100%;
        color: $orange;
        margin-bottom: 4px;
    }
    &__text {
        text-align: center;
    }
}

.infographics__item_animated-phase {
    &::before {
        animation: rotation-left-second 10s linear infinite;
    }
    &::after {
        animation: rotation-right-second 10s linear infinite;
    }
}

.infographics__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(22, 85, 163, 0.05);
}

@keyframes rotation-right {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotation-left {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes rotation-right-second {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes rotation-left-second {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(-180deg);
    }
}


// gradient slider

.gradient-swiper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    &__controls {
        position: absolute;
        top: 97px;
        right: 45px;
        display: flex;
        align-items: center;
        z-index: 3;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: $blue;
        margin-right: 8px;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
        svg {
            display: block;
            width: 17px;
        }
    }
}

.gradient-slide {
    position: relative;
    padding: 48px 45px 115px;
    overflow: hidden;
    &__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 105%;
        transform: translate(-50%, -50%);
        z-index: -2;
        img {
            display: block;
            width: 100%;
            height: auto;
            -webkit-filter: grayscale(100%); 
            filter: grayscale(100%);
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: linear-gradient(360deg, #FFFFFF 32.82%, 
        rgba(255, 255, 255, 0.308606) 79.27%, rgba(255, 255, 255, 0) 100%);
    }
    &__date {
        font-size: 24px;
        line-height: 120%;
        color: $blue;
    }
    &__title {
        margin-bottom: 32px;
    }
}

// production

.production {
    position: relative;
    height: 900px;
    background: $light-blue;
    color: $white;
    &__inner {
        display: flex;
        height: inherit;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-width: 45%;
        max-width: 494px;
        padding: 0 72px 0 27px;
        height: inherit;
    }
    &__title {
        margin-bottom: 24px;
    }
    &__text {
        margin-bottom: 32px;
    }
    &__swiper {
        position: absolute;
        top: 0;
        right: 0;
        width: 55%;
        height: inherit;
    }
}

.production-swiper {
    width: 100%;
    height: 100%;
    &__slide {
        position: relative;
        padding: 72px 26px 0 80px;
        z-index: 1;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(90deg, rgba(22, 85, 163, 0.74) 18.23%, rgba(22, 85, 163, 0) 100%);
    }
    &__logo {
        width: 195px;
        margin-bottom: 16px;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    &__location {
        margin-bottom: 154px;
    }
    &__list {
        margin-top: 36px;
    }
    &__pagination {
        top: auto !important;
        right: auto !important;
        left: 80px !important;
        bottom: 47px !important;
        transform: translate3d(0, 0, 0) !important;
        .swiper-pagination-bullet {
            background: $white;
            margin-left: 0 !important;
            margin-bottom: 12px !important;
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }
    &__btns {
        position: absolute;
        right: 45px;
        bottom: 47px;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: $blue;
        margin-bottom: 8px;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
        svg {
            display: block;
            width: 18px;
            height: auto;
        }
    }
}

.advantages-list {
    display: flex;
    flex-direction: column;
    &__item {
        position: relative;
        padding-left: 15px;
        margin-bottom: 34px;
        font-size: 28px;
        line-height: 120%;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 3px;
            height: 44px;
            background: $white;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

// news

.news {
    padding: 48px 0 57px;
    &__title {
        margin-bottom: 32px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__col {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 49%;
        max-width: 660px;
    }
}

.news-card {
    position: relative;
    width: 100%;
    height: 315px;
    padding: 24px;
    background: $blue;
    border-radius: 10px;
    margin-bottom: 30px;
    color: $white;
    overflow: hidden;
    z-index: 1;
    &:last-child {
        margin-bottom: 0;
    }
    &:hover {
        .news-card__title {
            text-decoration: underline;
        }
    }
    &__link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: $white;
        height: 100%;
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #1655A3 2.94%, rgba(22, 85, 163, 0) 48.71%), 
        radial-gradient(30.45% 29.91% at 0% 0%, rgba(22, 85, 163, 0.4) 0%, rgba(22, 85, 163, 0) 100%);
        z-index: -1;
    }
    &__pic {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__date {
        margin-bottom: auto;
        font-size: 22px;
        line-height: 120%;
    }
    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 120%;
    }
    &__text {
        margin-top: 15px;
    }
    &_with-pic {
        height: 478px;
    }
    &_half-width {
        width: 48%;
        max-width: 315px;
    }
}

// partners

.partners {
    padding: 48px 0 50px;
    &__title {
        margin-bottom: 28px;
    }
    &__text {
        margin-bottom: 40px;
    }
    &__links {
        display: flex;
        align-items: center;
    }
    &__links-item {
        position: relative;
        margin-right: 33px;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -16px;
            transform: translateY(-50%);
            width: 1px;
            height: 43px;
            background: rgba(29, 29, 27, 0.5);
        }
        &:last-child {
            margin-right: 0;
            &::after {
                display: none;
            }
        }
    }
}

// news slider

.news-swiper {
    padding: 48px 0 65px;
    &__title {
        margin-bottom: 32px;
    }
    &__pic {
        width: 100%;
        margin-bottom: 16px;
        overflow: hidden;
        border-radius: 10px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__slide-title {
        font-weight: 600;
        font-size: 28px;
        line-height: 120%;
    }
    &__tags {
        margin-bottom: 8px;
    }
    &__pagination {
        position: static !important;
        width: auto !important;
        margin: 0 15px;
    }
    &__wrapper {
        padding-bottom: 44px;
    }
    &__controls {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.swiper-tags {
    display: flex;
    align-items: center;
    &__item {
        position: relative;
        font-size: 22px;
        line-height: 120%;
        color: $blue;
        margin-right: 38px;
        &::before {
            content: "•";
            position: absolute;
            top: 0;
            right: -30px;
            width: 22px;
            height: 26px;
            text-align: center;
        }
        &:last-child {
            margin-right: 0;
            &::before {
                display: none;
            }
        }
    }
    &__link {
        text-decoration: none;
        color: $blue;
        transition: .2s linear;
        border-bottom: 1px solid transparent;
        &:hover {
            border-color: $blue;
        }
    }
}

.swiper-pagination-bullet {
    margin: 0 10px !important;
    opacity: 0.5 !important;
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    opacity: 1 !important;
    background: $balck;
}



.news-swiper-btn {
    width: 21px;
    height: 21px;
    margin-top: 5px;
    cursor: pointer;
    svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.swiper-button-disabled {
    opacity: 0.6;
}

// footer

.footer {
    background: $blue;
    color: $white;
    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 42px 0 32px;
        border-bottom: 1px solid $white;
    }
    &__nav-item {
        margin-bottom: 18px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__nav-link {
        text-decoration: none;
        color: $white;
        font-size: 24px;
        line-height: 120%;
        border-bottom: 1px solid transparent;
        transition: .3s linear;
        &:hover {
            border-color: $white;
        }
    }
    &__contacts-title {
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 18px;
    }
    &__contacts-item {
        margin-bottom: 18px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__contacts-icon {
        display: flex;
        justify-content: center;
        width: 20px;
        margin-right: 15px;
        margin-top: 5px;
        img {
            display: block;
        }
    }
    &__contacts-text {
        display: flex;
        flex-direction: column;
        max-width: 279px;
    }
    &__contacts-link {
        text-decoration: none;
        font-size: 20px;
        line-height: 120%;
        color: $white;
        border-bottom: 1px solid transparent;
        transition: .2s linear;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            border-color: $white;
        }
    }
    &__contacts-item {
        display: flex;
        align-items: flex-start;
    }
    &__btn-link {
        font-size: 18px;
        line-height: 120%;
        padding: 13px 119px 15px;
        text-decoration: none;
        color: $blue;
        background: $white;
        border-radius: 4px;
    }
    &__bottom {
       display: flex;
       align-items: center;
       padding: 20px 0; 
       font-size: 18px;
       line-height: 120%;
    }
    &__copyright {
        margin-right: 40px;
    }
    &__privacy-link {
        text-decoration: none;
        color: $white;
        border-bottom: 1px solid transparent;
        transition: .2s linear;
        &:hover {
            border-color: $white;
        }
    }
    &__logo {
        width: 162px;
        height: 30px;
        margin-left: auto;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

// PAGE CONTACTS

.contacts {
    background: rgba(22, 85, 163, 0.1);
    padding: 206px 0 48px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        width: 32%;
        max-width: 420px;
    }
    &__map {
        width: 63%;
        max-width: 850px;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    &__title {
        color: $blue;
        margin-bottom: 35px;
    }
}

.contacts-list {
    display: flex;
    flex-direction: column;
    &__item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__item_margin {
        margin-bottom: 32px;
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 12px;
    }
    &__title_blue {
        color: $blue;
    }
    &__text {
        font-size: 20px;
        line-height: 120%;
    }
    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__link {
        text-decoration: none;
        color: $balck;
        border-bottom: 1px solid transparent;
        margin-bottom: 10px;
        transition: .2s linear;
        &:hover {
            border-color: $balck;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.positions {
    padding: 98px 0 100px;
}

.positions-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item {
        display: flex;
        flex-direction: column;
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #E4EEF7;
        width: 240px;
        height: 92px;
        color: $blue;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 12px;
    }
    &__description {
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 18px;
    }
    &__link {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 120%;
        text-decoration: none;
        color: $balck;
        margin-top: auto;
        &:hover {
            .positions-list__link-text {
                border-color: $balck;
            }
        }
    }
    &__link-icon {
        width: 20px;
        height: 16px;
        margin-right: 14px;
        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
        }
    }
    &__link-text {
        border-bottom: 1px solid transparent;
        transition: .2s linear;
    }
}